{% extends "base_template.html" %}

{% block document_title %}Экипаж - Арктический центр{% endblock %}

{% block form_title %}Панель управления и отчетности{% endblock %}

{% block main %}
    <div class="container">
        <div class="toolbar">
            <h2>Список сотрудников (Экипаж)</h2>

            {% if user_data.role.value == 'суперпользователь' or user_data.role.value == 'управляющий' %}
                <a href="/site/crews/create" class="btn btn-primary">+ Добавить сотрудника</a>
            {% endif %}
        </div>

         <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ФИО</th>
                        <th>Должность</th>
                        <th>Спасательное средство</th>
                        {% if user_data.role.value == 'суперпользователь' or user_data.role.value == 'управляющий' %}
                            <th>Действия</th>
                        {% endif %} 
                    </tr>
                </thead>
                <tbody>
                    {% for crew in crews %}
                        <tr>
                            <td>{{ crew.id }}</td>
                            <td>{{ crew.f + ' ' + crew.i + ' ' + crew.o}}</td>
                            <td>{{ crew.position.value }}</td>
                            <td>{{ crew.lifesaving_device.name }}</td>
                            {% if user_data.role.value == 'суперпользователь' or user_data.role.value == 'управляющий' %}
                                <td><div class="actions"><a href="/site/crews/modify/{{ crew.id }}" class="btn btn-edit">Ред.</a><button class="btn btn-delete" deletedCrewId="{{ crew.id }}">Удалить</button></div></td>
                            {% endif %} 
                            </tr>
                    {% endfor %}
                </tbody>
            </table>

         </div>
        
    </div>
    {% if user_data.role.value == 'суперпользователь' or user_data.role.value == 'управляющий' %}
        <script type="module" src="{{ url_for('static', path='JS/delete_crew.js') }}"></script>
    {% endif %} 

{% endblock %}
