{% extends "base_template.html" %}

{% block document_title %}План реагирования - Арктический центр{% endblock %}

{% block form_title %}Формирование плана реагирования{% endblock %}


{% block main %}

    <div class="container">
        <div class="form-container">
            <div class="toolbar">
                <h2>План реагирования по сообщению #{{ message.id }}<br>{{ message.incident_type.value }} на объекте "{{ message.source.name }}": {{message.source.latitude}}°N {{message.source.longitude}}°E</h2>
            </div>

            <form method="post" id="create-form">
                <div class="form-group">
                    <label>Судно спасения</label>
                    <select required name="lifesavingDevicesId">
                        <option value="">-- Выберите средство --</option>
                        {% for lifesaving_device in livesaving_devises %}
                            <option value="{{ lifesaving_device.id }}">{{lifesaving_device.name}} | {{lifesaving_device.type.value}} | {{lifesaving_device.status.value}} | {{lifesaving_device.latitude}}°N  {{lifesaving_device.longitude}}°E</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label>Время прибытия</label>
                    <input type="datetime-local" required name="planningDatetime">
                </div>

                <div class="form-group">
                    <label>Метеоусловия</label>
                    <select multiple required name="weatherCondition">
                        {% for weather_condition in weather_conditions %}
                            <option value="{{ weather_condition }}">{{ weather_condition }}</option>
                        {% endfor %}
                        <option>Низкие температуры</option>
                        
                    </select>
                    <p class="form-hint">Удерживайте Ctrl (или Cmd) для выбора нескольких значений</p>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-save">Сохранить</button>
                    <a href="/site/messages" class="btn btn-back">Отмена</a>
                </div>
            </form>
        </div>
    </div>

    <script type="module" src="{{ url_for('static', path='JS/create_plan.js') }}"></script>

{% endblock %}